body {
	padding: 0;
	margin: 0;
	color: #787b80;
	font-family: 'PT Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

.clearfix:before, 
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

/*general*/

.textupper {
	text-transform: uppercase;
}

.textcenter {
	text-align: center;
}

.margin0auto {
	margin: 0 auto;
}

.block {
	display: block;
}

.white {
	color: #fff;
}

.bold {
	font-weight: bold;
}

.container {
	width: 600px;
}

/*section header*/
.header {
	background: url(../images/header.jpg) no-repeat center top/cover; 
	height: 100vh;
	padding-top: 85px;
}

.logo {
	margin: 0 auto 45px;
}

.navpane{
	width: 330px;
	padding: 0;
}

.navpane__item {
	list-style-type: none;
    float: left;
    margin-right: 32px;
}

.navpane__item:last-child {
	 margin-right: 0;
}

.link {
	text-decoration: none;
	font-size: 13px;
}

.titles__first {
	font-size: 53px;
	margin-top: 80px;
	font-family: 'Ubuntu', sans-serif;
}

.titles__second {
	font-size: 15px;
	margin: 45px auto 80px;
}

.titles__second:after {
	margin: 5px 0 0 85px;
	display: block;
	float: left;
	content: "";
	width: 85px;
	height: 2px;
	border-bottom: 2px solid rgba(255, 255, 255,0.5);
}

.titles__second:before {
	margin: 5px 85px 0 0;
	display: block;
	float: right;
	content: "";
	width: 85px;
	height: 2px;
	border-bottom: 2px solid rgba(255, 255, 255,0.5);
}

.button__header {	
	background-color: #50c3af;
	border-radius: 50px;	
	padding: 20px 45px;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
}

/*section 2*/

.section__second {
	padding-top: 50px;
	padding-bottom: 65px;
	background-color: #eeeeef;
}

.clients {
	width: 100%;	
}

.clients__item	{
	width: 200px;
	float: left;
}

.marginbottom30 {
	margin-bottom: 30px;
}

.clients__item__h2 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	color: #40474e;
}

.clients__item__h2:after {
	margin: 20px auto 0;
	display: block;
	content: "";
	width: 170px;
	height: 2px;
	border-bottom: 2px solid rgba(226, 227, 228,0.8);
}

.clients__item__p {
	font-size: 14px;
	line-height: 1.55em;
	margin: 0;	
}

/*section 3*/

.section__third {
	padding-top: 65px;
	padding-bottom: 80px;
}

.template__item,
.contacts__item {
	width: 270px;
	float: left;
	text-align: left;
	margin-right: 60px;
}

.template__item:last-child, 
.contacts__item:last-child,
.option__item:last-child {
	margin-right: 0;
}

.template__item__h3,
.contacts__item__h3,
.themeforest__item__h3,
.option__item__h3 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	color: #40474e;
}

.template__item__h3:after,
.contacts__item__h3:after {
	margin-top: 20px ;
	display: block;
	content: "";
	width: 230px;
	height: 2px;
	border-bottom: 2px solid rgba(226, 227, 228,0.8);
}

.template__item__p,
.contacts__item__p,
.themeforest__item__p,
.supported__item__p,
.option__item__p {
	font-size: 14px;
	line-height: 1.55em;
	margin: 0;
	text-align: left;	
}

.button {
	background-color: #50c3af;
	border: 0;
	border-radius: 50px;	
	padding: 10px 20px;
	margin-top: 40px ;		
	font-size: 11px;
	cursor: pointer;
}

/*section 4*/

.section__fourth,
.section__sixth {
	background-color: #eeeeef;
	padding-top: 60px;
	padding-bottom: 65px;
}

.supported__item__h3:before {
	content: "";
	display: inline-block;
	vertical-align: middle; 
	margin-right: 10px;
	width: 24px;
	height: 23px;
	background: url("../images/circle.png");
}

.supported__item__h3 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	color: #40474e;
}

.supported__item__h3:after {
	margin-top: 20px;
	display: block;
	content: "";
	width: 250px;
	height: 2px;
	border-bottom: 2px solid rgba(226, 227, 228,0.8);
}

.buttongrey {
	margin-left: 0;
	background-color :#d2d5da;
	transition: 1s;	
}

.buttongrey:hover {
	background-color: #50c3af;	
}

/*section 5*/

.section__fifth {
	padding-top: 55px;
	padding-bottom: 70px;
}

.option__item	{
	width: 180px;
	float: left;
	margin-right: 30px;
}

.option__item__h3:after{
	margin-top: 20px ;
	display: block;
	content: "";
	width: 160px;
	height: 2px;
	border-bottom: 2px solid rgba(226, 227, 228,0.8);
}

.checkthisout {
	text-decoration: none;
	color: #50c3af;
	text-transform: none;
}

.top {
	margin-top: 30px;
}

/*section 6 */

.plane:before {
	content: "";
	display: inline-block;
	vertical-align: middle; 
	margin-right: 10px;
	width: 24px;
	height: 19px;
	background: url("../images/plane.png");
}

.plane,
.pencil {
	display: inline-block;	
}

.pencil:before {
	content: "";
	display: inline-block;
	vertical-align: middle; 
	margin-right: 15px;
	width: 20px;
	height: 20px;
	background: url("../images/pencil.png");
}

/*section 7*/
.section__seventh {
	padding-top: 60px;
	padding-bottom: 65px;
}

.themeforest__img {
	display: block;
	width: 270px;
	float: left;
}

.themeforest__item {
	width:300px;
	float: right;
	text-align: left;
	margin-left: 30px;
}

.themeforest__item__h3:after {
	margin-top: 20px ;
	display: block;
	content: "";
	width: 290px;
	height: 2px;
	border-bottom: 2px solid rgba(226, 227, 228,0.8);
}

/*section 8*/

.section__eighth {
	background-color: #50c3af;
	padding-top: 50px;
	padding-bottom: 65px;
}

.featured {
	width: 100%;
}

.featured__h3 {
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;	
}

.star:before {
	content: "";
	display: inline-block;
	margin-right: 10px;
	width: 17px;
	height: 16px;
	background: url("../images/star.png");
}

.featured__h3:after{
	display: block;
	content: "";
	width: 280px;
	height: 2px;
	border-bottom :2px solid rgba(225, 225, 225,0.8);
	margin: 20px auto 0;
}

.featured__item__img {
	display: block;
	float: left;
	margin-left: 66px;
	width: 100px;
}

.featured__item__img:first-child {
	margin-left: 0;
}

/*footer*/

.footer {
	background-color: #f5f5f5;
}

.footer__p { 
	float: left;
	color: #82858a; 
}

.footer__i {
	margin-top: 20px;
	color: #bcbdbf;
	margin-left: 10px;
}

.footer__icon {
	float: right;
}

.footerspan {
	color: #aaacaf;

}